/* SearchResultsComponent's private CSS styles */

h2, h3 {
  display: inline-block;
}

span.separate {
  padding-left: 0.5em;
}

span.separate + * {
  padding-left: 0.5em;
}

.panel-default .panel-heading .glyphicon {
  color: #888;
}

thead th {
  background: #ebebeb;
}

thead th:hover {
  background: #d6d6d6;
}

thead th:not(:hover) span.glyphicon-remove {
  opacity: 0;
}

tbody tr {
  cursor: pointer;
}

th.hide, tr.hide {
  display:none;
}

td a.router-link {
  color: #888;
  text-decoration: none;
}

span.glyphicon {
  cursor: pointer;
}

span.glyphicon:hover {
  color: #555;
}
