/* SearchResultsComponent's private CSS styles */

h2, h3 {
  display: inline-block;
}

span.setting-icon {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.panel-default .panel-heading .glyphicon {
  color: #888;
}

thead th:hover {
  background: #eee;
}

thead th:not(:hover) span.glyphicon-remove {
  opacity: 0;
}

tbody tr {
  cursor: pointer;
}

th.hide, tr.hide {
  display:none;
}

a {
  color: #888;
  text-decoration: none;
}
