<div *ngIf="hero">
  <h2 *ngIf="!isAdd()">{{ hero.name | uppercase }} Details</h2>
  <h2 *ngIf="isAdd()">{{ hero.name | uppercase }} Details (New Item)</h2>
  <div *ngIf="!isAdd()"><span>id: </span>{{hero.id}}</div>
  <div *ngIf="isAdd()"><span>id: </span>-</div>

  <app-input-onedit [editMode]="isEdit() || isAdd()" [model]="hero" [label]="'name'" [property]="'name'" [placeholder]="'name'"></app-input-onedit>
  <app-input-onedit [editMode]="isEdit() || isAdd()" [model]="hero" [label]="'country'" [property]="'country'" [placeholder]="'country'"></app-input-onedit>

  <button *ngIf="isView()" (click)="edit()">edit</button>
  <button *ngIf="isView()" (click)="delete()">delete</button>
  <button *ngIf="isEdit()" (click)="save()">save</button>
  <button *ngIf="isEdit()" (click)="view()">cancel</button>
  <button *ngIf="isAdd()" (click)="save()">save</button>
</div>
