<h2>Search form</h2>
<form (ngSubmit)="onSubmit()" #searchForm="ngForm">
  <div>
    <label for="name">Name</label>
    <input type="text" id="name"
           [(ngModel)]="model.name" name="name">
  </div>

  <div>
    <label for="country">Country</label>
    <ng2-multiselect [options]="countries" [settings]="countriesSettings" [(ngModel)]="model.country" name="country"></ng2-multiselect>
  </div>

  <button type="submit" [disabled]="!searchForm.form.valid">Submit</button>
  <button type="button" (click)="clear();">Clear</button>
</form>
